
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    
</head>
</head>
<body>
    <header>
        <h1>{% block heading %}Mi Aplicación{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <!-- Agrega más enlaces según sea necesario -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Contenido del pie de página -->
    </footer>
</body>
</html>
